@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body{
    font-family: "Pixelify Sans", sans-serif;
    background-image: url("assets/fondo.jpg");
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    z-index: -1; /* Asegura que la imagen esté detrás del contenido */
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: #03045e;
    font-size: 80px;
    text-shadow: 
    -2px -2px 0 white,  
     2px -2px 0 white,  
    -2px  2px 0 white,  
     2px  2px 0 white; /* Crea el efecto de borde */
}

.subtitulo{
    color: #03045e;
    font-size: 30px;
    background-color: rgb(189, 224, 254, 0.7);
    border: 1px solid black;
    border-radius: 20px;
    width: 280px;
    text-shadow: 
    -1px -1px 0 white,  
     1px -1px 0 white,  
    -1px  1px 0 white,  
     1px  1px 0 white; /* Crea el efecto de borde */
}
p{
    font-size: 40px;
}
/* Centra el contenedor de tarjetas y permite que se acomoden en varias filas */
.tarjetas {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Aumenta el tamaño de las tarjetas y establece estilos uniformes */
.tarjeta-de-mokepon,
.tarjeta_charmander {  /* Incluye cualquier clase que uses para las tarjetas */
    box-sizing: border-box;
    width: 400px;  /* Tamaño mayor para la tarjeta */
    height: 500px;
    background: rgba(189, 224, 254, 0.7);
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #03045e;
}
.tarjeta-de-mokepon:hover,
.tarjeta_charmander:hover {
    cursor: pointer;
}


/* Aplica un mismo tamaño a todas las imágenes dentro de las tarjetas */
.tarjeta-de-mokepon img,
.tarjeta_charmander img {
    width: 200px;  /* Ajusta el ancho según necesites */
    height: 250px; /* Ajusta la altura para mantener la proporción */
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease;
}
.tarjeta-de-mokepon img:hover,
.tarjeta_charmander img:hover {
    transform: scale(1.1);
}

input{
    display: none;
}

#boton-mascota{
    box-sizing: border-box;
    width: 150px;
    height: 60px;
    background-color: chartreuse;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    transition: transform 0.3s ease;
    font-family: "Pixelify Sans", sans-serif;
}
#boton-mascota:hover{
    box-sizing: border-box;
    width: 150px;
    height: 60px;
    background-color: rgb(229, 255, 0);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    transform: scale(1.1);
}

#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}

.boton-ataque{
    background-color: chartreuse;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 120px;
    font-size: 20px;
    font-family: "Pixelify Sans", sans-serif;
    cursor: pointer;
}
.boton-ataque:hover{
    background-color: rgb(229, 255, 0);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 120px;
    font-size: 20px;
    transform: scale(1.1);
}
#resultado{
    width: 200px;
    background-color: rgb(189, 224, 254, 0.7);
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #03045e;
}

#boton-reiniciar{
    box-sizing: border-box;
    width: 130px;
    height: 40px;
    background-color: chartreuse;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}

.ataques{
    color: white;
    display: flow-root;
    grid-template-columns: 100px 100px;
    text-align: center;
    text-align: center;
    text-shadow: 
    -1px -1px 0 white,
     1px -1px 0 rgb(0, 0, 0),
    -1px  1px 0 white,
     1px  1px 0 rgb(0, 0, 0); /* Crea el efecto de borde */
}